<div class="container-fluid">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h2>Team: <%= @team.name %></h2>

      <input id="current-date" value="" hidden>
      <input id="current-pj-id" value="" hidden>
      <div id="event-list">
        <!--<template v-for="event in events">-->
          <!--<template v-if="next_date">-->
            <!--<h3>日期：{{ event.created_at }}</h3>-->
            <!--<hr>-->
            <!--<h4>-->
              <!--<a href="#">{{ event.superior.name }}</a>-->
            <!--</h4>-->
            <!--<hr>-->
          <!--</template>-->

          <!--<template v-if="not_current_pj">-->
            <!--<h4>-->
              <!--<a href="#">{{ event.superior.name }}</a>-->
            <!--</h4>-->
            <!--<hr>-->
          <!--</template>-->
        <!--</template>-->
      </div>
      <div class="alert alert-success" role="alert" id="loading-item" hidden>
        Loading...
      </div>
    </div>
    <div class="col-md-2"></div>
  </div>
</div>

<% content_for :js_doc do %>
  <script>
		(function(){
      var lastScrolly = window.scrollY
      var loading_state = false
      var page = 1

      function handleScroll() {
        if (lastScrolly === window.scrollY) {
        	window.setTimeout(handleScroll, 100)
          return
        } else {
        	lastScrolly = window.scrollY
        }

        if (window.scrollY + window.innerHeight + 50 > document.body.offsetHeight) {
//          alert(window.scrollY + window.innerHeight)
					fetchContent(page)
        }

				window.setTimeout(handleScroll, 1000)
			}

			function fetchContent(req_page) {
        if (loading_state) {
        	return
        } else {
        	loading_state = true
        }

        var current_date = $('#current-date').val()
				var current_pj_id = $('#current-pj-id').val()
				$.ajax({
					url: "/events",
					dataType: "json",
					async: true,
					data: { "team_id": getParameterByName('team_id'), "current_date": current_date, "current_pj_id": current_pj_id, page: req_page },
					type: "GET",
					success: function(req) {
						if (req.list_html) {
							$('#event-list').append(req.list_html)
							$('#current-date').val(req.current_date)
							$('#current-pj-id').val(req.current_pj_id)

              console.log(page)
              page += 1
							console.log(page)
            }

						loading_state = false
					},
					error: function() {
						loading_state = false
					}
				});
			}

			function getParameterByName(name) {
				var url = window.location.href;
				name = name.replace(/[\[\]]/g, "\\$&");
				var regex = new RegExp("[?&]" + name + "(=([^&#]*)|&|#|$)"),
					results = regex.exec(url);
				if (!results) return null;
				if (!results[2]) return '';
				return decodeURIComponent(results[2].replace(/\+/g, " "));
			}

			handleScroll()
			fetchContent(page)
		})();
  </script>
<% end %>